* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    /*font-family: Arial, Helvetica, sans-serif;*/
    background-color: rgb(205, 223, 242);
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: rgb(37, 61, 88);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.Articulo {
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul {
    display: flex;
}

.menu .navbar ul li a {
    font-size: 20px;
    padding: 0 20px;
    color: white;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: rgb(88, 93, 98);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
    margin-left: auto;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.header-txt {
    flex-basis: 50%;
    padding-right: 50px;
    padding-left: 50px;
}

.header-txt h1 {
    font-size: 50px;
    line-height: 1.2;
    text-transform: uppercase;
    color: rgb(18, 18, 22);
    margin-bottom: 15px;
}

p {
    font-size: 25px;
    color: rgb(9, 8, 8);
    margin-bottom: 25px;
}

.header-img {
    flex-basis: 50%;
    padding-right: 50px;
    padding-left: 50px;
}

.container-main {
    display: grid;
    flex-wrap: wrap;
    grid-gap: 20px;
    max-width: 2000px;
    margin: 30px;
    padding: 20px;
    justify-content: center;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    display: grid;
    /*grid-template-columns: 1fr 2fr;*/
    /*grid-gap: 20px;*/
    margin: 50px auto;
    background-color: rgb(108, 156, 212);
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0px 4px 8px rgb(40, 54, 164);
    max-width: 60%;
    float: left;
}

.sidebar {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 20px;
}

.article-preview {
    background-color: rgb(108, 156, 212);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(40, 54, 164);
    text-align: center;
}

.article-preview img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.article-preview h3 {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.article-preview p {
    color: white;
    font-size: 16px;
}

.article-preview a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.article-preview:hover {
    background-color: rgb(37, 61, 88);
    transition: 0.3s;
}

.text-box h2 {
    font-size: 1.8em;
    color: rgb(240, 248, 255);
}

.text-box p {
    font-size: 1.2em;
    color: black;
    line-height: 1.5;
    float: right;
}

/*Responsive*/
@media(max-width: 768px) {
    .wrapper {
        width: 100%;
    }
}

.footer {
    position: relative;
    width: 100%;
    background-color: rgb(37, 61, 88);
    min-height: 350px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: black;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    color: black;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    transition: 0.3s;
}

.menu-icon:hover {
    color: rgb(88, 93, 98);
}

.text {
    color: aliceblue;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

@media(max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .wrapper {
        grid-template-columns: 1fr; /* Cambia a una sola columna */
        text-align: center;
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

@media(max-width:991px) {
	.menu {
		padding: 20px;
		position: relative;
	}

	.menu label {
		display: initial;
		margin-left: auto;
	}

	.menu .navbar {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: rgb(23, 44, 68);
		display: none;
	}

	.menu .navbar ul {
		flex-direction: column;
	}

	.menu .navbar ul li {
		width: 100%;
		padding: 20px 0;
	}

	.menu .navbar ul li a:hover {
		color: #d9d9d9
	}

	#menu:checked ~ .navbar {
		display: initial;
	}

	.header-content {
		padding: 30px;
		flex-direction: column;
		text-align: center;
	}

	.header-txt {
		padding: 0 0 40px 0;
	}

		.products {
		padding: 30px;
	}
}

@media(max-width: 768px) {
	.products-content {
		grid-template-columns: 1fr 1fr;
	}
}
}